<?xml version="1.0" encoding="utf-8"?>	
	
<launch>

  <rosparam command="load" file="$(find arc_launch)/arc.yaml" />
 <!-- starting NI client -->
 <node name="lift_presentation" type="lift_presentation" pkg="arc_presentation" output="screen" required="true"/>
 <!-- starting stellgroessen bag -->
<node pkg="rosbag" type="play" name="player" output="screen" args="--clock --rate 0.85 -s 8.0 /home/arcsystem/Desktop/Rollout/Rollout.bag" />

</launch>


